/* Global Style */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Ruhl';
    src: url('/fonts/FrankRuhlLibre-Regular.ttf')
}
@font-face{
    font-family: 'Ruhl-medium';
    src: url('/fonts/FrankRuhlLibre-Medium.ttf')
}
@font-face{
    font-family: 'Vibes';
    src: url('/fonts/GreatVibes-Regular.ttf')
}

html{
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(2.8rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(2.8rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --grey-text: #525252;
}
h1{
    font-size:var(--header1);
}
h2{
    font-size:var(--header2);
}
h3{
    font-size:var(--header3);
} 
h4{
    font-size:var(--header4);
}
h5{
    font-size:var(--header4);
}
li,
button,
label,
p,
a{
    font-size:var(--text); 
}

a{
    text-decoration:none;
    color:black;
}

ul{
    list-style: none;
}
/* Helper classes */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    font-family: "Ruhl", sans-serif;
    animation: openning 1s ease-in-out ;
    background:white ;
}
h1{
    font-family: "Vibes", sans-serif;
}

/* Nav section */
.main-head{
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    z-index: 2;
    position: relative;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    align-items:center;
    min-height: 10vh; 
    padding: 2rem 0rem;
}
#logo{
    flex: 5 2 20rem;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}
.hero{
    min-height: 90vh;
    flex-wrap: wrap;
    display: flex;
    width:95%;
    margin: 0 0 0 auto;
    overflow: hidden;
}

.hero-introduction{
    flex: 2 1 40rem;
    text-align: center;
}
.hero-introduction h2{
    padding-top:3rem;
}
.hero-introduction a{
    padding:2rem 8rem; 
    border: 3px solid black
}
.hero-introduction p{
    padding:4rem 10rem;
    color:var(--grey-text)
}
.hero-images{
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4 );
    position: relative;
    z-index: 1;
}
.hero-elena{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.plant{
    position: absolute; 
    bottom:0;
    left: -20%;
    z-index: -1;
    max-height: 70%;
    animation: plant-shake 2.5s infinite ease-in-out alternate-reverse 2s;
}
.plant2{
    left:45%;
   
   
}
.menu-check{
    opacity: 0;
}
/* About section */

.about{
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
}
.about-text div{
    padding: 3rem 8rem;
}
.about-text h3{
    padding:2rem 0rem;
    font-family: 'Ruhl-medium';

}
.about-text{
    color:white;
    background: #414141;
    flex: 3 1 30rem;
    justify-content: space-around;
} 
.about-text h2{
    font-family: 'Vibes';
    padding: 4rem;
}
 .about-life, .about-work, .about-contact{
    text-align: center; 
}
.about-image{
    flex:1 1 30rem;
    position: relative;

}
.about-image h5{
    position:absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-15%);
    letter-spacing: 2rem;
}
.about-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* Gallery section */
 .gallery-main{
     display:grid; 
    min-height:100vh;
     grid-template-columns: repeat(3, 1fr);
     position:relative;
} 
.gallery1{
    grid-column: 1/3;
}
.gallery2{
    grid-column: 3/4;
    grid-row:1/3 ;
} 
.gallery-main img{
    height:100%;
    width:100%;
    object-fit:cover;
  }
  .gallery-head{
      position:absolute;
      top:50%;
      left:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align: center;
    background:rgba(0,0,0, 0.5);
    padding: 7rem 10rem;
    
  }
  /* conatct section */
 
   
 
  .contact{
      min-height:90vh;
      display:flex;
      flex-wrap: wrap;
 
      
  }
  .form-wrapper{
    flex: 3 1 40rem;

  }
  .contact img{
      flex: 1 1 40rem;
  }
  .form-wrapper h2{
      font-size: var(--big);
  }
  .form-wrapper span{
      font-size:8.5rem;
      color: var(--special-color);
      padding-bottom: 5rem;;
  }
  .form-wrapper input{
      display: block;
      margin: 3rem 0rem;
      background: #414141;
      color: #fffefe;
      border: none;
      padding: 1rem 4rem;
      width:30rem;
      font-size: 2rem;
  }
  .form-wrapper button{
  
   padding-left: 10.2rem;
   padding-right:10.2rem;
   padding-top: 0.4rem;
   padding-bottom: 0.4rem;
   background: var(--special-color);
   cursor: pointer;
   outline: inherit;
   color:white;

  }
  footer{
      background: var(--background-color);
      display:flex;
      padding:2rem;
  }
  .footer-icons{
      display: flex;
      
      flex: 0 2 20rem;
      padding-top:1rem;
      justify-content: space-around;
  }
  .footer-copy{
    flex: 5 2 20rem;
    color:white;
    padding-top:1rem;
    
  }
  footer span{
    font-family: 'Vibes', sans-serif;
  }



/* Animations */

@keyframes openning{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes plant-shake{
    from{
    transform: rotateZ(-5deg);
    }

    to{
        transform: rotateZ(0deg);
    }
}

/* Media querrys */

@media screen and (max-width:840px){
    .hero{
        width: 100%;
    }
    .hero-introduction p {
        padding:5rem 3rem;
    }
    .burger{
        position: relative;
    }
    .burger span{
        padding: 0.2rem 2rem;
        background: var(--grey-text);
        margin: 0.5rem 0rem;
        display:block;
    }
    .nav-links a{
        color:white;
        font-size: var(--header3);
        text-decoration: underline;

    }
    .nav-links{
        background:var(--background-color);
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:100%;
        flex-direction: column;
        align-items:center;
        transition: transform 1s ease;
    
    }
    .gallery{
        margin-bottom:4rem;
    }
    .menu-check{
        position:absolute;
        top:50%;
        right:4%;
        transform: translate(-5%, -50%);
        width:5rem;
        height:5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }
    .menu-check:checked + .nav-links{
        transform: translate(-100%);
    }
    .menu-check:checked ~ .burger span{
        background: white;
    }
    
    /* About-section */
    .about-text div{
        padding: 3rem 3rem;
    }
    /* GALLERY  */
    .gallery-main img{
        grid-row:auto;
        grid-column:auto;
    
    }
    .gallery-main{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .gallery-head{
        display: none;
    }
}
