<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotLogedIn</title>
</head>
<body>
    <h1>You have to log in to create and post. :( </h1>
    <a href="/login">Log In.</a>
</body>
</html>