<nav id="nav">

    <ul id="nav-list"> 
        <li id="sing-up"><a href="/">Sign up</a></li>
        <li id="log-in"><a href="/login">Log in</a></li>
        <li id="Posts"><a href="/posts">Posts</a></li>
        <li><a href="/create-post">Creat a post</a></li>
    </ul>

</nav>